PRIVATE_KEY=
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

ETHERSCAN_API_KEY=

SHADOW_DID=0x0114B85f1a92773D8C3AdCef6139288926E4cf98
SKEET_GATEWAY=0xc0795458aDce980cA4075A37109a2E1Af5614B28
DEPLOYMENT_BLOCK=7897789

BSKY_SEARCH_API_KEY=
BSKY_SEARCH_API_USER=
